
<div class="panel panel-default new-status col-md-offset-2">
	<div class="panel-heading">	
		<h1 class="panel-title">New status</h1>
	</div>


<%= render 'form' %>


</div>	<!-- END OF PANEL -->


<%= link_to 'Back', statuses_path %>
